

.container {
    width: 80%;
    /* background-color: rgba(128, 128, 128, 0.295); */
    margin: 0.8rem 1rem;
}

.chatdetails {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 2rem;
}

.lnk {
    text-decoration: none;
    color: var(--eerie-black);
    font-weight: bold;
    cursor: pointer;
}