
.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    /* margin-top: 50px; */
    width: 100%;
    /* margin: 20px; */
    /* margin-top: 50px; */
}

/* .left {
    width: 30%;
} */

.mid {
    /* border: 1px solid black;
    border-radius: 20px; */
    margin-left: 200px;
    width: 100%;
    max-width: 550px;
    min-width: 380px;
}

.right {
    /* width: 30%; */
    width: 250px;
    /* border: 1px solid black;
    border-radius: 20px; */
    /* position: fixed; */
}