


.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-start;
    margin-top: 60px; */
}


.modalContainer {
    background-color: var(--seasalt);
    position: fixed;
    right: 10px;
    top: 62px;
    z-index: 999; 
    width: 350px;
    height: fit-content;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    padding: 10px;
    
}

.container {
    overflow: scroll;  
    display: flex;
    padding: 10px;
    margin: 5px -10px 0px -10px;

    justify-content: space-around;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left {
}

.mid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin: 0px 20px 0px 10px;
}

.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
   
} 


.close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.img {
    width: 50px;

}

.end {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
}

.confirmbtn {
    background-color: var(--ultra-violet-0, purple);
    color: var(--antiflash-white, white);
    /* padding: .5rem 1rem; */
    cursor: pointer;
    border: none;
    border-radius: .6rem;
    width: 100px;
    font-size: .8rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  
}
.small-btn:hover {
    background-color: var(--ultra-violet, purple);
}

.removebtn {
    border: none;
    outline: none;
    border-radius: 20px;
    /* background-color: rgb(126, 120, 166); */
    background-color: #E7E7E7;
    /* color: var(--antiflash-white); */
    color: var(--eerie-black);
    /* color: var(--eerie-black); */
    width: 100px;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 0.6rem;
    font-size: .8rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.removebtn:hover {
    /* background-color: var(--ultra-violet); */
    /* color: var(--antiflash-white); */
    background-color:  #b6b6b6;

}

.right {
    margin-top: 15px;
    /* display: flex; */

    /* align-items: center; */
}

.notif {
    display: inline-block;
    background-color: var(--ultra-violet);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}