
/* .container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.282);
}

.btn {
    margin-left: 40px;
} */

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0px -10px 0px -10px;

    justify-content: space-between;
}

/* .container:hover {
    background-color: var(--antiflash-white);
    border-radius: 20px;
} */

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
} 
