:root {
    /* CSS HEX */
    --antiflash-white: #ebebebff;
    --seasalt: #fafafaff;
    --ultra-violet: #52489cff;
    --ultra-violet-0: #6259a5ff;
    /* --ultra-violet-0: #7B77AF; */

   
    --emerald-green: #50C878;
    --slate-blue: #7068adff;
    --cinnabar: #e94f37ff;
    --asparagus: #698f3fff;
    --eerie-black: #252525;
    --dim-grey: rgb(108, 108, 108);


    --ste-blue: rgb(140, 133, 196);
}


