@import "./components/var.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--antiflash-white);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

::placeholder {
	font-family: var(--font);
}
