

/* .container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;  
    padding: 20px;
    margin: 20px 0px 20px 0px;
} */

.container {
    width: 100%;
    position: relative;
    z-index: 0;
}

.content{
    border: none;
    outline: none;

    border-radius: 1rem;
    resize: none;
    width: 94%;
    /* margin-bottom: 10px; */
    padding: 20px;
    font-family: sans-serif;
 }

 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

 ::placeholder {
    font-family: sans-serif;
 }


.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}