.container {
    display: flex;
    justify-content: space-between;

    
}

.wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.img {
    padding: 30px;
    border-radius: 50%;
    background: var(--antiflash-white);
}

.desc {
    color: grey;
}
 
.members {
    color: grey;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallbtn {
    background-color: var(--ultra-violet-0, purple);
    color: var(--antiflash-white, white);
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: .6rem;
    /* width: 75%; */
    font-size: .8rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.smallbtn:hover {
    background-color: var(--ultra-violet, purple);
}