@import "../var.css";

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: left;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
}

@media (max-width: 640px) {
	.form {
		gap: 14px;
	}
}
